<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="base-container">
            {% block nav %}
                <nav>
                    <a href="/{{app.user ? 'logout' : 'login'}}" @click="isOpen = false">{{app.user ? 'Logout' : 'Login'}}</a>
                </nav>
            {% endblock %}
            
            {% block body %}
                {% block content %}
                {% endblock %}
            {% endblock %}
            
            {% block footer %}
                <footer>
                    &copy; {{ "now"|date("Y") }} My App. All rights reserved.
                </footer>
            {% endblock %}
        </div>
    </body>
</html>
